*.idea
*.target/target/
*/target/
*.log
.idea/
.vscode/
**/target/
**/node_modules/
**/dist/
*.jar
*.war

.DS_Store
.proxyai/
*.iml
*.ipr
*.iws
.idea/workspace.xml
.idea/tasks.xml
.idea/dictionaries/
.idea/shelf/
.idea/httpRequests/
.idea/dataSources/
.idea/sqlDataSources.xml
.idea/dynamic.xml
.idea/uiDesigner.xml
